<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="login.js"></script>
</head>
<script>
    window.onload = function(){
        let success = window.sessionStorage.getItem("success");
        if(success == 200){
            var category = ["Electronics", "Food", "Fashion"];
            var Manufacture = ["TCS" , "Zomato" , "HP"];
            document.getElementById("pcat").innerHTML = catt(category);
            document.getElementById("pmanu").innerHTML = catt(Manufacture);
            document.getElementById("pprice").addEventListener("keyup",function(){
                let p = document.getElementById("pprice").value;
                if(p<0){
                    document.getElementById("neg").innerText = "Can't be Negative";
                }
                else{
                    document.getElementById("neg").innerText = " ";
                }
            },false);
            document.getElementById("add").addEventListener("click",function(){
                var data = {
                    "ProductName": document.getElementById("pname").value,
                    "CategoryName": document.getElementById("pcat").value,
                    "Manufacture": document.getElementById("pmanu").value,
                    "price": document.getElementById("pprice").value
                };
                console.log(data);
                var promise = addData(data);
                promise
                .then((data) => {
                    console.log(`Received Data = ${data}`);
                    window.location.href = "http://localhost:9081/home";
                })
                .catch((err) => {
                    console.log(`Error = ${err}`);
                });
            },false);
        }else{
            document.getElementById("res").innerHTML = "<a href = 'http://localhost:9081/login'>Login Again</a>"
        }
    };
    function catt(cat){
        var opt="";
        for(var i =0;i<cat.length;i++){
            opt+='<option val"' + cat[i] + '">'+ cat[i] + '</option>';
        }
        return opt;
    };
</script>
<body>
    <div>
        <div class="row">
            <div class="col-md-2">
                <div class="">
                    <nav class="navbar navbar-expand-sm bg-secondary navbar-light">
                        <div class="container p-3">
                            <ul class="navbar-nav nav-tabs flex-column p-3">
                                <li class="nav-item p-4">
                                    <a class="nav-link" href="http://localhost:9081/login">Login</a>
                                </li>
                                <li class="nav-item p-4">
                                  <a class="nav-link" href="http://localhost:9081/home">Home</a>
                                </li>
                                <li class="nav-item p-4">
                                  <a class="nav-link active" href="http://localhost:9081/addproduct">Add Product</a>
                                </li>
                                <li class="nav-item p-4">
                                  <a class="nav-link" href="http://localhost:9081/up&del">Update</a>
                                </li>
                                <li class="nav-item p-4">
                                  <a class="nav-link" href="http://localhost:9081/up&del">Delete</a>
                                </li>
                                <li class="nav-item p-4">
                                    <a class="nav-link" href="#"></a>
                                  </li>
                                  <li class="nav-item p-4">
                                    <a class="nav-link" href="#"></a>
                                  </li>  
                              </ul>
                        </div>
                      </nav>
                </div>
            </div>
            <div class="col-md-10">
                <div class="container p-5 m-5">
                    <div id="res">
                        <h1>Add Product</h1>
                        <div class="row">
                            <div class="col-2">
                                Product Name:
                            </div>
                            <div class="col-2">
                                <input type="text" id="pname"><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                Product Category:
                            </div>
                            <div class="col-2">
                                <select id="pcat">
                            
                                </select><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                Manufacturer:
                            </div>
                            <div class="col-2">
                                <select id="pmanu">
                            
                                </select><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                Price:
                            </div>
                            <div class="col-2">
                                <input type="number" min=0 id="pprice"><br><br>
                                <div id="neg" style="color: red;"></div>
                            </div>
                            
                        </div>
                        <input type="button" class="btn btn-success" id="add" value="Add">
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>