<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap.min.css">
<script src="login.js"></script>
</head>
<script>
    window.onload = function(){
        let success = window.sessionStorage.getItem("success");
        if(success == 200){
            document.getElementById("add").addEventListener("click",function(){
                window.location.href = "http://localhost:9081/addProduct";
            },false);
            document.getElementById("update").addEventListener("click",function(){
                window.location.href = "http://localhost:9081/up&del";
            },false);
            var promise = getProducts();
            promise
              .then((data) => {
                //console.log(`Received Data = ${JSON.parse(data)}`);
                data = JSON.parse(data.rows);
                console.log();
                console.log(`Received Data = ${data[0].ProductName}`);
                printData(data);
              })
              .catch((err) => {
                console.log(`Error = ${err}`);
              });
        }
        else{
            document.getElementById("res").innerHTML = "<a href = 'http://localhost:9081/login'>Login Again</a>"
        }
    };
    function printData(record){
        var headers= [];
        for(var p in record[0]){
            headers.push(p);
        }
        var headerRow = '';
        for(var i=0;i<headers.length;i++){
            headerRow+="<th>"+headers[i]+"</th>";
        };
        document.getElementById("thead").innerHTML = headerRow;

        document.getElementById("thead")
        var tr = '';
        for(var i=0;i<record.length;i++)
        {   tr+='<tr>';
            for(var j=0;j<headers.length;j++)
            {
                tr+='<td>'+ record[i][headers[j]] + '</td>';
            }
            //console.log(record[i].productrowId);
        }
        //console.log(flag);
        document.getElementById("tbody").innerHTML= tr;
    };
</script>
<body>
    <div>
        <div class="row">
            <div class="col-md-2">
                <div class="">
                    <nav class="navbar navbar-expand-sm bg-secondary navbar-light">
                        <div class="container p-3">
                            <ul class="navbar-nav nav-tabs flex-column p-3">
                                <li class="nav-item p-4">
                                    <a class="nav-link" href="http://localhost:9081/login">Login</a>
                                </li>
                                <li class="nav-item p-4">
                                  <a class="nav-link active" href="#">Home</a>
                                </li>
                                <li class="nav-item p-4">
                                  <a class="nav-link" href="http://localhost:9081/addproduct">Add Product</a>
                                </li>
                                <li class="nav-item p-4">
                                  <a class="nav-link" href="http://localhost:9081/up&del">Update</a>
                                </li>
                                <li class="nav-item p-4">
                                  <a class="nav-link" href="http://localhost:9081/up&del">Delete</a>
                                </li>
                                <li class="nav-item p-4">
                                    <a class="nav-link" href="#"></a>
                                  </li>
                                  <li class="nav-item p-4">
                                    <a class="nav-link" href="#"></a>
                                  </li>  
                              </ul>
                        </div>
                      </nav>
                </div>
            </div>
            <div class="col-md-10">
                <div class="container p-5">
                    <h1>Home page</h1>
                    <div id="res">
                    <table class="table table-striped table-hover">
                        <thead id="thead"></thead>
                        <tbody id="tbody"></tbody>
                    </table>
                    <div>
                        <input type="button" id="add" value="AddProduct">
                        <input type="button" id="update" value="Update/Delete">
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

